* {
    box-sizing: border-box;
}
body {
    padding: 4rem;
}
.notif {
    width: 25%;
    margin: auto;
    margin-bottom: 3rem;
}
form {
    padding: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    width: 25%;
    text-align: right;
    margin: auto;
}
form *:not(h1) {
    font-size: 1rem;
}
#submit {
    margin-top: 1rem;
}
label {
    margin-right: 4rem;
}
h1 {
    text-align: center;
}
input {
    margin-right: 1rem;
}


